<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

    <header>
        <% include ../partials/topnav.ejs %>
    </header>

    <script>
        $("#nav-page-2").addClass("active");
    </script>

    <main>

        <% include ../partials/avg-rows.ejs %>

    </main>

    <footer>
        <% include ../partials/footer.ejs %>

        <script type="text/javascript">

            function generate_containers() {
                var count = 0
                var json_data = $.ajax({
                    type: "GET",
                    url: "/avgs",
                    async: false
                }).responseText;

                var daily_avgs = JSON.parse(json_data).reverse();

                for (var day in daily_avgs) {
                    if (daily_avgs.hasOwnProperty(day)) {
                        var date = dateFormat(new Date(day), 'dddd, mmmm dS');
                        var props = daily_avgs[day];
                        var time_start = dateFormat(new Date(props['time_start']), 'h:MM TT');
                        var time_end = dateFormat(new Date(props['time_end']), 'h:MM TT');
                        var s_avg = props['s_avg'].toFixed(2) + '°';
                        var w_avg = props['w_avg'].toFixed(2) + '°';


                        $("#avg-point-date-"+count).text(date);
                        $("#avg-point-timerange-"+count).text(time_start + " - " + time_end);

                        $("#avg-point-sensor-"+count).text(s_avg);
                        $("#avg-point-weather-"+count).text(w_avg);

                        $("#avg-row-"+count).css("visibility", "visible");
                        count++;
                    }
                }
            }

            generate_containers();
        </script>
    </footer>

</body>
</html>