<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body class="container">

    <header>
        <% include ../partials/topnav.ejs %>
    </header>

    <script>
        $("#nav-page-2").addClass("active");
    </script>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="well">
                    <h1>21.24 degrees</h1>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>