<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <% include ../partials/gchart.ejs%>


</head>
<body class="container">

    <header>
        <% include ../partials/topnav.ejs %>
    </header>

    <main>
        <div class="jumbotron" style="background-color: #333;">

            <table style="margin-left: auto; margin-right: auto">
                <col width="30%">
                <col width="30%">
                <col width="30%">
                <tr>
                    <td>
                        <table align="left" width="350px">
                            <tr>
                                <h3 id="current-last-measured" style="color:#bfbfbf;float:left" >
                                    Last updated: &nbsp;
                                </h3>
                                <h3 id="current-time">
                                    <%= current_time%>
                                </h3>
                            </tr>
                            <tr>
                                <td width="30px">
                                    <h3 style="color:#bfbfbf;float:left">
                                        In&nbsp;
                                    </h3>
                                </td>
                                <td>
                                    <h3 id="current-location-text">
                                        <%= weather_local%>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <h1 id="current-s-tempf" align="center" style="color:#00ff99">
                            <%= current_sensor %>
                        </h1>
                        <h3 align="center">Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="current-w-tempf" align="center" style="color:#ff0f0f">
                            <%= current_weather %>
                        </h1>
                        <h3 align="center">Outside Temperature</h3>
                    </td>
                </tr>

            </table>

        </div>

       <div><% include ../partials/tempchart.ejs %></div>
    </main>

    <footer>
        <script>
            $("#nav-page-0").addClass("active");
        </script>

        <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>