<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
    <% include ../partials/gchart.ejs%>


</head>
<body class="container">

    <header>
        <% include ../partials/topnav.ejs %>
    </header>

    <main>
        <div class="jumbotron" style="background-color: #333;">

            <table style="margin-left: auto; margin-right: auto">
                <col width="30%">
                <col width="30%">
                <col width="30%">
                <tr>
                    <td>
                        <h1 id="current-time" align="left">
                            <%= current_time%>
                        </h1>
                        <h3 id="current-location-text" align="left" style="color:#bfbfbf;margin-left:10px">
                            <%= weather_local%>
                        </h3>
                    </td>
                    <td>
                        <h1 id="current-s-tempf" align="center" style="color:#00ff99">
                            <%= current_sensor %>
                        </h1>
                        <h3 align="center">Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="current-w-tempf" align="center" style="color:#ff0f0f">
                            <%= current_weather %>
                        </h1>
                        <h3 align="center">Outside Temperature</h3>
                    </td>
                </tr>

            </table>

        </div>

       <div><% include ../partials/tempchart.ejs %></div>
    </main>

    <footer>
        <script>
            $("#nav-page-0").addClass("active");
        </script>

        <% include ../partials/footer.ejs %>
    </footer>

</body>
</html>