<html>
  <head>
    <% include ../partials/head.ejs %>
    <% include ../partials/gchart.ejs%>

  </head>
  <body class="container">

    <header>
        <% include ../partials/topnav.ejs %>
    </header>

    <script>
        $("#nav-page-1").addClass("active");
    </script>

    <main>
        <div><% include ../partials/tempchart.ejs %></div>
    </main>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>