<html>
  <head>
    <% include ../partials/head %>
    <% include ../partials/gchart.ejs%>

  </head>
  <body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
            <div id="curve_chart" style="width: auto; height: 600px"></div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>