<div id="avg-row-0"class="row" style="visibility:hidden">
    <div id="avg-col-date" class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-0"></h2>
            <h2 id="avg-point-timerange-0" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div id="avg-col-temps" class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-0" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-0" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-1"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-1"></h2>
            <h2 id="avg-point-timerange-1" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-1" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-1" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-2"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-2"></h2>
            <h2 id="avg-point-timerange-2" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-2" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-2" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-3"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-3"></h2>
            <h2 id="avg-point-timerange-3" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-3" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-3" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-4"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-4"></h2>
            <h2 id="avg-point-timerange-4" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-4" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-4" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-5"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-5"></h2>
            <h2 id="avg-point-timerange-5" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-5" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-5" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-6"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-6"></h2>
            <h2 id="avg-point-timerange-6" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-6" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-6" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-7"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-7"></h2>
            <h2 id="avg-point-timerange-7" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-7" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-7" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-8"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-8"></h2>
            <h2 id="avg-point-timerange-8" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-8" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-8" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-9"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-9"></h2>
            <h2 id="avg-point-timerange-9" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-9" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-9" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-10"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-10"></h2>
            <h2 id="avg-point-timerange-10" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-10" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-10" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-11"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-11"></h2>
            <h2 id="avg-point-timerange-11" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-11" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-11" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-12"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-12"></h2>
            <h2 id="avg-point-timerange-12" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-12" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-12" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-13"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-13"></h2>
            <h2 id="avg-point-timerange-13" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-13" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-13" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-14"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-14"></h2>
            <h2 id="avg-point-timerange-14" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-14" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-14" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-15"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-15"></h2>
            <h2 id="avg-point-timerange-15" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-15" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-15" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-16"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-16"></h2>
            <h2 id="avg-point-timerange-16" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-16" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-16" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-17"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-17"></h2>
            <h2 id="avg-point-timerange-17" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-17" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-17" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-18"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-18"></h2>
            <h2 id="avg-point-timerange-18" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-18" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-18" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-19"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-19"></h2>
            <h2 id="avg-point-timerange-19" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-19" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-19" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-20"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-20"></h2>
            <h2 id="avg-point-timerange-20" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-20" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-20" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-21"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-21"></h2>
            <h2 id="avg-point-timerange-21" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-21" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-21" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-22"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-22"></h2>
            <h2 id="avg-point-timerange-22" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-22" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-22" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-23"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-23"></h2>
            <h2 id="avg-point-timerange-23" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-23" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-23" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-24"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-24"></h2>
            <h2 id="avg-point-timerange-24" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-24" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-24" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-25"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-25"></h2>
            <h2 id="avg-point-timerange-25" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-25" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-25" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-26"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-26"></h2>
            <h2 id="avg-point-timerange-26" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-26" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-26" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-27"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-27"></h2>
            <h2 id="avg-point-timerange-27" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-27" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-27" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-28"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-28"></h2>
            <h2 id="avg-point-timerange-28" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-28" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-28" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-29"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-29"></h2>
            <h2 id="avg-point-timerange-29" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-29" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-29" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>