<div id="avg-row-0"class="row" style="visibility:hidden">
    <div id="avg-col-date" class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-0"></h2>
            <h2 id="avg-point-timerange-0" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div id="avg-col-temps" class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-0" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-0" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-1"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-1"></h2>
            <h2 id="avg-point-timerange-1" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-1" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-1" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-2"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-2"></h2>
            <h2 id="avg-point-timerange-2" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-2" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-2" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-3"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-3"></h2>
            <h2 id="avg-point-timerange-3" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-3" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-3" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-4"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-4"></h2>
            <h2 id="avg-point-timerange-4" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-4" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-4" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-5"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-5"></h2>
            <h2 id="avg-point-timerange-5" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-5" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-5" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-6"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-6"></h2>
            <h2 id="avg-point-timerange-6" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-6" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-6" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-7"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-7"></h2>
            <h2 id="avg-point-timerange-7" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-7" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-7" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-8"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-8"></h2>
            <h2 id="avg-point-timerange-8" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-8" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-8" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

<div id="avg-row-9"class="row" style="visibility:hidden">
    <div class="col-sm-5">

        <div class="jumbotron" style="height:280px">
            <h2 id="avg-point-date-9"></h2>
            <h2 id="avg-point-timerange-9" style="color:#bfbfbf"></h2>
        </div>

    </div>
    <div class="col-sm-7">

        <div class="jumbotron" style="height:280px">
            <table style="margin-left: auto; margin-right: auto">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>
                        <h1 id="avg-point-sensor-9" align="center" style="color:#00ff99"></h1>
                        <h3 align="center">Average Room Temperature</h3>
                    </td>
                    <td>
                        <h1 id="avg-point-weather-9" align="center" style="color:#ff0f0f"></h1>
                        <h3 align="center">Average Outside Temperature</h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>