<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Pi Temperature Monitor</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
<style>
    body    { background-color:black;padding-top:50px; }
</style>
