<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Pi ThermoStats</title>
<!-- CSS (load bootstrap from a CDN) -->
<style>
    <% include ../styles/darkly.css %>
    body    { background-color:black;padding-top:50px;min-width: 1000px; }
</style>

<!-- jquery -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- date.format -->
<script type="text/javascript"><% include ../../scripts/date.format.js %></script>

