<!-- views/partials/topnav.ejs -->

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ThermoStats</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li id="nav-page-0"><a href="/">Home</a></li>
                <li id="nav-page-1"><a href="/lineplot">Plot</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="current-date"><%= current_date %></a></li>
            </ul>
        </div>
    </div>
</nav>